<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h2> Hexaware Company Home Page</h2>
<hr>
<p>Welcome to <b>Hexaware</b> home Page !</p>
<hr>
<!--Displaying User and Roles-->
<div>
    User: <span sec:authentication="principal.username"></span><br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</div>

<div sec:authorize="hasRole('MANAGER')">
    <a th:href="@{/leaders}">Leaders Page</a>
    (Only for Managers peer's)
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/systems}">IT System Page</a>
    (Only for IT peer's)
</div>
<hr>
<form action="#" method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>